.website {
  &-header {
    margin: 100px 0;
    &-title {
      font-weight: 300;
      margin: 0;
      b {
        font-weight: bold;
      }
    }
  }
  &-footer {
    &-title {
      font-weight: 300;
      margin: 0 0 100px 0;
      font-size: 2.5rem;
      b {
        font-weight: bold;
      }
    }
  }
}

//Sections

.section {
  padding: 0 0 100px;
  position: relative;
  &-header {
    font-weight: bold;
    padding: 0 0 50px 0;
  }
}

//Media

@media screen and (max-width: 768px) {
  .website-header {
    font-size: 1.8rem;
    margin: 50px 0;
  }
  .website-footer-title {
    font-size: 1.8rem;
    margin: 0 0 50px 0;
  }
}